<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BlueCademy</title>
	<link rel="stylesheet" href="themes/BlueCademyTheme.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="javascripts/mycourse.js"></script>
</head>

<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
            <h1>My Course</h1>
            <div data-role="navbar">
				<ul>
					<li><a onclick="home()" data-icon="bars">Home</a></li>
					<li><a class="ui-btn-active" data-icon="user">My Course</a></li>
					<li><a onclick="logout()" data-icon="action">Log Out</a></li>
				</ul>
			</div>
        </div>
        
        <div data-role="content" data-theme="a">
            <ul id=myCourse data-role="listview" data-inset="true">

            </ul>
        </div>

    </div>
</body>
</html>