<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BlueCademy</title>
	<link rel="stylesheet" href="themes/BlueCademyTheme.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src="javascripts/register.js"></script>
</head>

<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>BlueCademy</h1>
		</div>
		
		<div data-role="content" data-theme="a">
			<form id="formRegister" method="POST" data-ajax="false">
                <input type="hidden" name="facebookID" id="facebookID">
				<input type="text" name="Name" id="Name" placeholder="Name" required minlength="4">
                <input type="email" name="Email" id="Email" placeholder="Email" required>
				<input type="password" name="Password" id="Password" placeholder="Password" required pattern="(?=.*[A-Za-z0-9]).{6,}" oninput="document.getElementById('confirmPassword').pattern=this.value.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, '\\$&')" title="Must consist of numeric and aplhabetic character, and at least 6 or more characters">
				<input type="password" name="confirmPassword" id="confirmPassword" pattern="" title="Password must match" placeholder="Confirm Password" required>
				<input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" pattern="[0-9]{8,16}" title="Numeric at least 8 characters maximum 16 characters" required>
                <input type="submit" value="Sign Up" data-theme:"a" id="registerButton">
				<center><a href="/" data-ajax="false">Sign In</a></center>
			</form>
		</div>
	</div>
</body>
</html>